name: Run tests and push coverage to Codecov

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Check out git repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install the project
        run: uv sync --all-extras --dev

  test:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: |
            **/uv.lock
            **/pyproject.toml

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Run pytest
        run: uv run pytest tests --cov --rootdir=/home/runner/work/stranger

      - name: Upload coverage
        uses: actions/upload-artifact@v6
        with:
          name: coverage
          path: .coverage
          include-hidden-files: true

  coverage:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install coverage
      - name: Download all artifacts
        # Download and combine coverage1, coverage2, etc.
        uses: actions/download-artifact@v7
      - name: Run coverage
        run: |
          coverage report
          coverage xml
      - uses: codecov/codecov-action@v5
        env:
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
